@use "@/src/scss/variables" as *;

#projects {
  margin: 0 4vw 4vw 4vw;

  .projects-mobile {
    background-color: $dark;
    border-radius: $borderS;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    h3 {
      font-weight: 400;
      color: $pink;
    }

    .mySwiper {
      width: 100%;
      height: 450px;
      position: relative;

      .swiper-button-prev,
      .swiper-button-next {
        color: $pista;
        opacity: 0.75;

        &::after {
          display: grid;
          place-content: center;
          position: absolute;
          font-size: 1rem;
          font-weight: bold;

          top: 225px;
        }
      }

      .swiper-button-prev {
        &::after {
          left: 240px;
        }
      }

      .swiper-button-next {
        &::after {
          left: 20px;
        }
      }

      .swiper-button-disabled {
        color: $blue;
        opacity: 0.5;
      }

      .swiper-slide-prev {
        opacity: 0 !important;
      }

      .swiper-slide-next {
        opacity: 0 !important;
      }

      .swiper-slide-fully-visible {
        opacity: 1 !important;
      }

      .swiperSlide-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        height: 100%;

        &:nth-of-type(1) {
          border: none;
          padding: 0;
        }

        .srno {
          font-size: 1.8rem;
          color: $pista;
        }

        h4 {
          font-size: 2rem;
          font-weight: 300;
          padding-right: 30%;
        }

        p {
          font-size: 0.8rem;
          font-weight: 300;
          line-height: 1.4;
          padding-right: 5%;
        }

        .image-main {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .img-container {
            position: relative;
            width: 100%;
            aspect-ratio: 1232/618;
          }

          a {
            width: fit-content;
          }
        }
      }
    }
  }
}

//*------------> tablet

@media screen and (min-width: 820px) {
  #projects {
    display: flex;
    justify-content: center;
    padding: 80px 4vw;

    .svg-container {
      width: 100%;

      .title-container {
        margin-left: 4vw;
        width: 153px;
        height: 40px;
        position: relative;
        display: grid;
        place-content: center;

        h3 {
          position: relative;
          z-index: 2;
        }

        svg {
          position: absolute;
        }
      }
      svg {
        fill: $dark;
      }
    }

    .data-main {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .mySwiperDesktop {
        width: 100%;
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
          color: $pista;
          opacity: 0.75;

          &::after {
            display: grid;
            place-content: center;
            position: absolute;
            font-size: 1.2rem;
            font-weight: bold;
          }

          &:hover {
            color: $blue;
          }
        }

        svg {
          width: 100%;
        }

        .data {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 4vw 0 6vw;

          .text-container {
            width: 500px;
            display: flex;
            gap: 30%;

            .srno {
              font-size: 2rem;
              font-weight: 300;
            }

            .info {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 40%;
              height: 160px;

              h4 {
                font-size: 1.4rem;
                font-weight: 300;
                width: 150px;
              }

              p {
                font-size: 0.4rem;
                font-weight: 300;
                line-height: 1.4;
              }

              button {
                margin-top: 10px;
              }
            }
          }

          .img-container {
            position: relative;
            width: 50vw;
            aspect-ratio: 1232/618;
          }
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #projects {
    .data-main {
      .mySwiperDesktop {
        .data {
          .text-container {
            width: 600px;
            .srno {
              font-size: 3.4rem;
            }

            .info {
              height: 250px;
              width: 45%;
              h4 {
                font-size: 2.4rem;
                width: 200px;
              }

              p {
                font-size: 0.8rem;
              }
            }
          }

          .img-container {
            max-width: 450px;
          }
        }
      }
    }
  }
}
