@use "@/src/scss/variables" as *;

//*------------> mobile hero

#hero {
  margin-top: 80px;
  width: 100vw;
  padding: 0 2vw;

  .mobile-main {
    background-color: $dark;
    width: 100%;
    border-radius: $borderS;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-weight: bold;
      color: $pink;
      font-size: 0.8rem;
    }

    h3 {
      font-weight: 300;
      font-size: 2.2rem;
    }

    .hero-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      z-index: 3;

      p {
        color: $light;
        font-weight: 500;
        line-height: 1.4;
      }
    }

    .img-container {
      position: relative;
      width: 100%;
      aspect-ratio: 618/368.76;
      margin-top: -35px;
      z-index: 2;
    }

    .programing-languages {
      position: relative;
      z-index: 3;
      right: 0;
      bottom: 20px;
      border-radius: $borderS;
      overflow: hidden;
      top: 2px;

      .icons {
        display: flex;

        .language-container {
          background-color: $offDark;
          height: 35px;
          display: grid;
          place-content: center;
          padding: 5px 15px;
          border-radius: $borderS;
          width: fit-content;
          margin-right: 5px;

          svg {
            min-width: 60px;
            max-width: 60px !important;
            max-height: 20px;
          }
        }
      }
    }
  }
}

//*------------> tablet hero

@media screen and (min-width: 820px) {
  #hero {
    width: 100vw;
    padding: 10px;
    margin-top: -100px;

    .hero-main {
      padding: 150px 4vw 100px 4vw;
      width: 100%;
      background-color: $dark;
      border-radius: $borderM;

      .hero-text {
        line-height: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        z-index: 2;

        p {
          font-weight: bold;
          color: $pink;
          font-size: 1.2vw;
        }

        h3 {
          font-weight: 300;
          font-size: 8vw;
          line-height: 1;
        }

        .hero-info {
          width: 80%;
          display: flex;
          justify-content: space-between;

          p {
            width: 350px;
            color: $light;
            font-size: 1.6vw;
            line-height: 1.2;
            font-weight: 400;
          }

          button {
            align-self: flex-end;
          }
        }
      }

      .img-container {
        width: 100%;
        aspect-ratio: 605/211;
        position: relative;
        margin-top: -20px;
        z-index: 1;

        .programing-languages {
          width: 53vw;
          border-radius: $borderS;
          overflow: hidden;
          position: absolute;
          bottom: 10px;
          right: 0;

          .icons {
            display: flex;

            .language-container {
              background-color: $offDark;
              height: 30px;
              display: grid;
              place-content: center;
              padding: 0 15px;
              border-radius: $borderS;
              width: fit-content;
              margin-right: 20px;

              svg {
                min-width: 60px;
                max-width: 80px !important;
                max-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #hero {
    .hero-main {
      .hero-text {
        .hero-info {
          p {
            width: 420px;
            font-size: 1.2vw;
          }
        }
      }
      .img-container {
        .programing-languages {
          bottom: 26px;

          .icons {
            .language-container {
              height: 40px;

              svg {
                min-width: 80px;
                max-width: 100px !important;
                max-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
